* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: white;
}

header {
    background-color: rgb(49, 10, 128);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    position: relative;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

h1 {
    text-align: center;
    margin-top: 25px;
}

#course-title {
    font-size: 28px;
    font-weight: bold;
}

#menu-button {
    display: block;
    font-size: 2rem;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}

nav {
    display: none;
    width: 100%;
    background-color: rgb(49, 10, 128);
    margin-top: 1rem;
}

nav.show {
    display: block;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.navigation li {
    border-top: 1px solid white;
    text-align: center;
}

.navigation a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 1rem;
}

.navigation a:hover {
    border-bottom: 2px solid white;
    color: rgb(202, 35, 149);
}

.res-grid {
    min-height: 600px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
}

/*nuevo*/

.res-grid section {
    background-color: #c9c9c9;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(202, 35, 149);
    padding: 1rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.res-grid figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.res-grid h3 {
    font-size: 1.2rem;
    color: rgb(49, 10, 128);;
    margin-bottom: 0.5rem;
}

.res-grid p {
    font-size: 0.95rem;
    color: #000;
    margin: 0.3rem 0;
}

.res-grid img {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 10;
}


footer {
    background-color: rgb(49, 10, 128);
    color: white;
    padding: 1rem;
}

footer p {
    font-size: 18px;
    text-align: center;
}

#lastModified {
    font-size: 15px;
}