:root{
    --main-color: #3f0f67;
    --second-color:#f0f0f5 ;
    --third-color: #97a3af;
    --fourth-color: #8c7d98;
}

html,body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--second-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    background-color: var(--main-color);
    padding: 1rem;
}

h1 {
    color: var(--second-color);
    font-size: 40px;

}

main {
   flex: 1;
   padding: 2rem;
   text-align: center;
}

main p {
    margin-top: 10%;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.home-button {
    display: inline-block;
    padding: 0.85rem 1.5rem;
    background-color: var(--fourth-color);
    color: rgb(21, 21, 21);
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.3s ease;

}

.home-button:hover{
    background-color: var(--third-color);
}
footer {
    background-color: var(--main-color);
    color: var(--second-color);
    text-align: center;
}