@media (min-width: 640px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 2rem;
    }
    
    #menu-button {
        display: none;
    }

    nav {
        display: block !important;
        background-color: transparent;
        width: auto;
        margin-top: 0;
    }

    .navigation {
        flex-direction: row !important;
        display: flex;
        gap: 1rem;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .navigation li {
        border: none;
    }

    .navigation a {
        color: white;
        text-decoration: none;
        font-size: 18px;
        padding: 0.5rem 1rem;
        display: block;
        text-align: center;
    }

    .navigation a:hover {
        border-bottom: 2px solid white;
        color: rgb(202, 35, 149);
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
        padding: 1rem;
        max-width: 1200px;
        margin: 0 auto;
    }

    .gallery img {
        width: 100%;
        height: auto;
        border-radius: 15px 150px;
    }

    figcaption {
        font-size: 16px;
        color: rgb(70, 29, 195);
        text-align: center;
    }
}